/* 
I found w3schools was a very good resource for understanding a lot of these concepts 
Available at: https://www.w3schools.com
*/


/* This is for the scroll button at the bottom of each page */

html {
  scroll-behavior: smooth;
}

body {
	font-family: "Nunito Sans", sans-serif;
}
 

 
 
.scroll-button {
	background-color: grey;
	color: white;
	text-align: center;
	padding: 8px 15px;
	margin: 4px 2px;
	opacity: 0.6;
	transition: 0.3s;
	text-decoration: none;

}

.scroll-button:hover {
	opacity: 1;
}





h1 {
	text-align: center;
	font-family: "Raleway", sans-serif;
}


h2 {
	font-size: 21px;
	font-family: "Raleway", sans-serif;
}

/* These are all of the styling tags for the navbar */



@media(max-width:600px){
	.hamburger{
		display:block;
		cursor: pointer;
	}
	
	.menu-top{
		position: fixed;
		left: -100%;
		gap: 0;
		flex-direction: column;
		background-color: black;
		text-align: center;
		transition: 0.3s;
	}
	
	.menu-item{
		margin: 16px;
	}

	.menu .menu-top .active{ 
		left: 0;
	}


}



/* @media(min-width: 600px){ */
	.menu {
		height: 50px;
		background-color: black;
		font-family: Arial;
		overflow: hidden;
	/*   	display: flex; */
	}

	.menu .menu-top{
		padding-left: 20px;
		padding-right: 20px;
		display: flex;
		justify-content: space-around;
		list-style-type: none; 
	}
	
	.menu .menu-item{
		display: inline-block;
		height: 100%;
		width: 10%;
		transition: .2s linear;
	}
	
	.menu .menu-item a {
		color: white;
		font-size: 17px;
		text-decoration: none;
	}
	
	.menu .menu-item a:hover {
		color: #dd5771;
		font-weight: 700;
		transform: translateY(-3px); 
	}
	
	.menu .menu-item:hover {
		transform: translateY(-3px); 
	}


	@media(min-width: 600px){
		.hamburger{
			display: none; 
		}
				
	}
	
	.bar{
		display: block;
		width: 25px;
		height: 3px;
		margin: 5px auto;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		background-color: white;
		color: white;
	}
	

/* } */






.dropdown {
	float: left;
	overflow: hidden;
}


.dropdown .dropbutton{
	font-size: 18px;
	border: none;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	color: white;
	margin: 0;

}

#nav a:hover, .dropdown:hover .dropbutton {
  background-color: blue;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}









/* 

These are grids used for the page layout 

https://stackoverflow.com/questions/47614008/can-i-have-a-varying-number-of-columns-per-row-in-a-css-grid

https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_grid_layout/Basic_concepts_of_grid_layout
*/

:root {
	box-sizing: border-box;
}

*,
::before
::after{
	box-sizing: inherit;
}




.grid-container {
	display: grid;
	row-gap: 10px;
}






@media screen and (min-width: 600px){

	.grid-container {
		grid-template-columns: repeat(6, 1fr);
		grid-template-areas:
			"a a a b b b"
			"c c d d e e"
	}

	.item-a{
 		grid-area: a;
	}
	
	.item-b{
		grid-area: b;
	}
	
	.item-c{
		grid-area: c;
	}
	
	.item-d{
		grid-area: d;
	}
	
	.item-e{
		grid-area: e;
	}
	
}






.padding {
	padding-left: 10px;
	padding-right:10px;
}

.benefit-box{
	padding-top: 10px;
	padding-bottom: 10px;
}


.centered {
	text-align: center;
}




/* This is used for the heading of each lab task to centre it and colour the background */
.title {
	text-align: center;
	padding: 22px;
	background-color: #f6efef;
}





/* ------------- Image slideshow ------------- */ 

.slides {
	position: relative;
	margin: auto;
}

.slide-image {
	display: none;

}



.back, .next {
	cursor: pointer;
	position: absolute;
	top: 48%;
	width: auto;
	margin-top: -23px;
	padding: 17px;
	color: black;
	font-weight: bold;
	font-size: 19px;
	transition: 0.4s ease;
	border-radius: 0 5px 5px 0;
	user-select: none;
}



.next {
	right: 0;
}

.back:hover, .next:hover {
	background-color: grey;
}

.slide-title {
	font-size: 20px;
	padding: 10px 14px;
	text-align: center;
}

.slide-info {
	font-size: 15px;
	padding: 10px 14px;
	position: absolute;
	text-align: center;
}



.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background: linear-gradient(92.18deg, #a049e9 -25.78%, #6643db 123.02%);
  opacity: 0.3;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background: linear-gradient(92.18deg, #a049e9 -25.78%, #6643db 123.02%);
  opacity: 1;
}



.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.4s;
	animation-name: fade;
	animation-duration: 1.4s;

}


@-webkit-keyframes fade {
	from {opacity: .5}
	to {opacity: 2}
}

@keyframes fade{
	from {opacity: .5}
	to {opacity: 2}
}


/* ------------- Game Library ------------- */ 


.game-library {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 10px;
	column-gap: 10px;
}

@media screen and (max-width:800px){
	.game-library {
		grid-template-columns: repeat(2, 1fr);
	}
	
}


@media screen and (max-width:500px){
	.game-library {
		grid-template-columns: repeat(1, 1fr);
	}
	
}

.game-card {
	/* flex-basis: calc(33.333% - 20px); */
	/* border-style: solid;  */
	display: grid;
	grid-template-rows: 1fr 1fr;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.card-top {
	background-color: pink;

}

.card-bottom {
	background-color: white;

}


.game-library img {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 10px;
}


.game-library p{
	padding: 6px;
}

.game-library h3{
	margin-top: 5px;
	margin-left: 10px;
	
}

/* 
.library-image {
	border: 4px solid black;
}
 */





/* ------------- Dropdown text ------------- */ 

.slide-info {
	display: none;
}


.slide-image:hover .slide-info{
	display: block;
}



/* --------------------------------------- */
* {
	--ang: 0;
  }

.cd__main{
	background: #111 !important;
   display: block !important;
	min-height: 720px;
 }


.spinner {
	transform-style: preserve-3d;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotateY(calc(var(--ang) * 1deg)) translateY(-12px);
	transition: all 0.5s ease-in-out;
  }
  
  .holder {
	width: 600px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	perspective: 700px;
	perspective-origin: center;
	margin: 150px auto;
  }
  
  .panel {
	border-radius: 5px;
	width: 100px;
	height: 100px;
	position: absolute;
	background-size: cover;
	background-position: 50% 50%;
  }
  
  .panel:nth-child(1) {
	transform: rotateY(0deg) translateZ(400px);
  }
  
  .panel:nth-child(2) {
	transform: rotateY(22.5deg) translateZ(400px);
  }
  
  .panel:nth-child(3) {
	transform: rotateY(45deg) translateZ(400px);
  }
  
  .panel:nth-child(4) {
	transform: rotateY(67.5deg) translateZ(400px);
  }
  
  .panel:nth-child(5) {
	transform: rotateY(90deg) translateZ(400px);
  }
  
  .panel:nth-child(6) {
	transform: rotateY(112.5deg) translateZ(400px);
  }
  
  .panel:nth-child(7) {
	transform: rotateY(135deg) translateZ(400px);
  }
  
  .panel:nth-child(8) {
	transform: rotateY(157.5deg) translateZ(400px);
  }
  
  .panel:nth-child(9) {
	transform: rotateY(180deg) translateZ(400px);
  }
  
  .panel:nth-child(10) {
	transform: rotateY(202.5deg) translateZ(400px);
  }
  
  .panel:nth-child(11) {
	transform: rotateY(225deg) translateZ(400px);
  }
  
  .panel:nth-child(12) {
	transform: rotateY(247.5deg) translateZ(400px);
  }
  
  .panel:nth-child(13) {
	transform: rotateY(270deg) translateZ(400px);
  }
  
  .panel:nth-child(14) {
	transform: rotateY(292.5deg) translateZ(400px);
  }
  
  .panel:nth-child(15) {
	transform: rotateY(315deg) translateZ(400px);
  }
  
  .panel:nth-child(16) {
	transform: rotateY(337.5deg) translateZ(400px);
  }
  
  .pagination {
	width: 600px;
	height: 44px;
	margin-top: 10px;
	text-align: center;
	margin: 10px auto;
  }
  
  button {
	padding: 0;
	border: none;
	cursor: pointer;
	width: 44px;
	color: black;
	background: #fffa;
	height: 44px;
	margin: 0 10px;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	border-radius: 100%;
	transition: all 0.2s ease-in-out;
  }
  
  button:hover {
	background: rgba(0, 0, 0, 0.8);
  }
  
  button:active {
	background: #ffff;
  }
  
  @keyframes spin {
	0% {
	  transform: rotateY(0deg);
	}
	100% {
	  transform: rotateY(360deg);
	}
  }
  .fade {
	background: #0006;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0.4) 70%, rgba(0, 0, 0, 0) 100%);
	width: 860px;
	height: 200px;
	position: absolute;
	transform: rotateY(calc(var(--ang) * -1deg)) translateZ(110px);
	transition: all 0.5s ease-in-out;
  }
  



  .a {
	background-image: url(https://images.unsplash.com/photo-1516727003284-a96541e51e9c?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTM5MjczNzB8&ixlib=rb-4.0.3&q=85);
  }
  
  .b {
	background-image: url(https://images.unsplash.com/photo-1691389694412-266f872999c6?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTM5MjY5NTh8&ixlib=rb-4.0.3&q=85);
  }
  
  .c {
	background-image: url(https://images.unsplash.com/photo-1606391901318-07003db08d63?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTM5MjY5OTJ8&ixlib=rb-4.0.3&q=85);
  }
  
  .d {
	background-image: url(https://images.unsplash.com/photo-1610785396756-24bd1889ddae?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTM5MjcwMjl8&ixlib=rb-4.0.3&q=85);
  }
  
  .e {
	background-image: url(https://images.unsplash.com/photo-1505849871170-7f94cf84f4d2?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTM5MjcwODJ8&ixlib=rb-4.0.3&q=85);
  }
  
  .f {
	background-image: url(https://images.unsplash.com/photo-1518087456308-c3976320f908?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTM5MjcxMTB8&ixlib=rb-4.0.3&q=85);
  }
  
  .g {
	background-image: url(https://images.unsplash.com/photo-1558724040-9de64afade55?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTM5MjcxNDV8&ixlib=rb-4.0.3&q=85);
  }
  
  .h {
	background-image: url(https://images.unsplash.com/photo-1604877098440-b7b440241686?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTM5MjcxOTR8&ixlib=rb-4.0.3&q=85);
  }
  
  .i {
	background-image: url(https://images.unsplash.com/photo-1518573484273-eb277fe4b036?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTM5MjcyMTl8&ixlib=rb-4.0.3&q=85);
  }
  
  .j {
	background-image: url(https://images.unsplash.com/photo-1485230895905-ec40ba36b9bc?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTM5MjcyMzZ8&ixlib=rb-4.0.3&q=85);
  }
  
  .k {
	background-image: url(https://images.unsplash.com/photo-1546877625-cb8c71916608?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTM5MjcyNTl8&ixlib=rb-4.0.3&q=85);
  }
  
  .l {
	background-image: url(https://images.unsplash.com/photo-1551727974-8af20a3322f1?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTM5MjcyNzR8&ixlib=rb-4.0.3&q=85);
  }
  
  .m {
	background-image: url(https://images.unsplash.com/photo-1436759644647-e274ee931eaa?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTM5OTU1Mjl8&ixlib=rb-4.0.3&q=85);
  }
  
  .n {
	background-image: url(https://images.unsplash.com/photo-1533779671378-06561cdaacb5?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTM5MjczMDd8&ixlib=rb-4.0.3&q=85);
  }
  
  .o {
	background-image: url(https://images.unsplash.com/photo-1544377570-a774bea2355c?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTM5MjczMzN8&ixlib=rb-4.0.3&q=85);
  }
  
  .p {
	background-image: url(https://images.unsplash.com/photo-1586693231040-e89840e7d805?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTM5MjczNDV8&ixlib=rb-4.0.3&q=85);
  }






