/* 
I found w3schools was a very good resource for understanding a lot of these concepts 
Available at: https://www.w3schools.com
*/


/* This is for the scroll button at the bottom of each page */

html {
  scroll-behavior: smooth;
}

body {
	font-family: "Nunito Sans", sans-serif;
}
 

 
 
.scroll-button {
	background-color: grey;
	color: white;
	text-align: center;
	padding: 8px 15px;
	margin: 4px 2px;
	opacity: 0.6;
	transition: 0.3s;
	text-decoration: none;

}

.scroll-button:hover {
	opacity: 1;
}





h1 {
	text-align: center;
	font-family: "Raleway", sans-serif;
}


h2 {
	font-size: 21px;
	font-family: "Raleway", sans-serif;
}

/* These are all of the styling tags for the navbar */


.menu .menu-item a {
    color: white;
    font-size: 17px;
    text-decoration: none;
}



/* Styles for screens with a minimum width of 600 pixels */
    .menu {
        height: 50px;
        background-color: black;
        font-family: Arial;
        overflow: hidden;
    }

    .menu .menutop {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: space-around;
        list-style-type: none;
    }
    
    .menu .menu-item {
        display: inline-block;
        height: 100%;
        width: 10%;
        transition: .2s linear;
    }
    
    .menu .menu-item a:hover {
        color: #dd5771;
        font-weight: 700;
        transform: translateY(-3px);
    }
    
    .menu .menu-item:hover {
        transform: translateY(-3px);
    }

	.icon {
		display: none;
		color: white;
	}




@media screen and (max-width: 600px){

	.menutop li:not(:last-child) {display: none;}
  	.menutop .icon {
   		float: right;
    	display: block;
	}
}


/* https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */
@media screen and (max-width: 600px) {
	.menutop.responsive {
		position: relative;

		display: flex;
		flex-direction: column;
	}
	
	.menutop.responsive a.icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	  padding-right: 10px;
	}
	.menutop.responsive .menu-item {
	  float: none;
	  display: block;
	  text-align: left;
	  padding-bottom: 20px;
	}



	.menu.responsiveMenu{
		height: 100%;
		width: 100%;
		background-color: black;
	  }

  }





/* 

These are grids used for the page layout 

https://stackoverflow.com/questions/47614008/can-i-have-a-varying-number-of-columns-per-row-in-a-css-grid

https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_grid_layout/Basic_concepts_of_grid_layout
*/

:root {
	box-sizing: border-box;
}

*,
::before
::after{
	box-sizing: inherit;
}




.grid-container {
	display: grid;
	row-gap: 10px;
}






@media screen and (min-width: 600px){

	.grid-container {
		grid-template-columns: repeat(6, 1fr);
		grid-template-areas:
			"a a a b b b"
			"c c d d e e"
	}

	.item-a{
 		grid-area: a;
	}
	
	.item-b{
		grid-area: b;
	}
	
	.item-c{
		grid-area: c;
	}
	
	.item-d{
		grid-area: d;
	}
	
	.item-e{
		grid-area: e;
	}
	
}


/* ----------------------------------------- */ 
/* ------------- Benefit Cards ------------- */ 
/* ----------------------------------------- */ 

.benefit-box {
	display: grid;
	grid-template-rows: auto;
	border-radius: 10px 10px;
	width: 90%;
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
	margin-left: auto;
	margin-right: auto;
}

.benefit-box-top img{
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}

.benefit-box-bottom {
	background-color: white;
	border-radius: 0px 0px 10px 10px;
}

.padding {
	padding-left: 10px;
	padding-right: 10px;
}

.centered {
	text-align: center;
}

.benefit-page {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 30px;
}

@media screen and (max-width:800px){
	.benefit-page {
		grid-template-columns: repeat(1, 1fr);
	}

	.benefit-box{
		width: 80%;
	}

}




/* This is used for the heading of each lab task to centre it and colour the background */
.title {
	text-align: center;
	padding: 22px;
	background-color: #f6efef;
}




/* ------------------------------------------ */ 
/* ------------- Image slideshow ------------ */ 
/* ------------------------------------------ */ 

.slides {
	position: relative;
	margin: auto;
}

.slide-image {
	display: none;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 600px){
	.slide-image {
		width: 100%;
	}
}


.image {
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide-title {
	font-size: 50px;
	font-weight: bold;
}


.back, .next {
	cursor: pointer;
	position: absolute;
	top: 48%;
	width: auto;
	margin-top: -23px;
	padding: 17px;
	color: black;
	font-weight: bold;
	font-size: 19px;
	transition: 0.4s ease;
	border-radius: 5px 5px 5px 5px;
	user-select: none;
}

.back {
	left: 23%;
}

.next {
	right: 23%;
}

.back:hover, .next:hover {
	background-color: grey;
}

.slide-title {
	font-size: 20px;
	padding: 10px 14px;
	text-align: center;
}

.slide-info {
	width: 50%;
	font-size: 15px;
	padding: 10px 14px;
	position: sticky;
	text-align: center;
	margin-top: 20px;
	border-style: solid;

	margin-left: auto;
	margin-right: auto;
}



.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background: linear-gradient(92.18deg, #a049e9 -25.78%, #6643db 123.02%);
  opacity: 0.3;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background: linear-gradient(92.18deg, #a049e9 -25.78%, #6643db 123.02%);
  opacity: 1;
}



.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.4s;
	animation-name: fade;
	animation-duration: 1.4s;

}


@-webkit-keyframes fade {
	from {opacity: .5}
	to {opacity: 2}
}

@keyframes fade{
	from {opacity: .5}
	to {opacity: 2}
}



/* ---------------------------------------- */ 
/* ------------- Game Library ------------- */ 
/* ---------------------------------------- */ 


.game-library {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 10px;
	column-gap: 15px;
}


@media screen and (max-width:1000px){
	.game-library {
		grid-template-columns: repeat(3, 1fr);
	}
	
}


@media screen and (max-width:800px){
	.game-library {
		grid-template-columns: repeat(2, 1fr);
	}
	
}




@media screen and (max-width:600px){
	.game-library {
		grid-template-columns: repeat(1, 1fr);
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		row-gap: 20px;
		position: relative;

		grid-template-areas:
			"math-games"
			"english-games"
			"computing-games"
			"geography-games"
	}

	.game-card {
		display: none;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	/* Here in lies the problem */

	
}

.card-slide-buttons{
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	margin-bottom: 50px;
}

.card-back, .card-next {
	padding: 10px 10px 10px 10px;
	color: black;
	font-weight: bold;
	font-size: 19px;
	transition: 0.4s ease;
	border-radius: 5px 5px 5px 5px;
	background-color: lightgray;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
}

.card-back:hover, .card-next:hover {
	background-color: grey;
}

.game-content-heading {
	font-size: 20px;
	margin-bottom: -10px;
	font-weight: bold;
}


@media screen and (min-width:600px){
	.card-slide-buttons {
		display: none;
	}

	.game-content-heading {
		display: none;
	}
}


/* ---------------------------------------- */ 
/* -------------- Game Card --------------- */ 
/* ---------------------------------------- */ 
.game-card {
	display: grid;
	grid-template-rows: 1/3fr 1fr;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
}

.card-top {
	background-color: pink;

}

.card-bottom {
	background-color: white;

}

.game-library img {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 10px;
}

.game-library p{
	padding: 6px;
}

.library-image {
	padding-bottom: 10px;
}

.game-library h3{
	margin-top: 0;
	margin-left: 10px;
	
}





/* ----------------------------------------- */ 
/* ------------- Dropdown text ------------- */ 
/* ----------------------------------------- */ 

.slide-info {
	display: none;
}


.image:hover .slide-info{
	display: block;
}


