/* 
I found w3schools was a very good resource for understanding a lot of these concepts 
Available at: https://www.w3schools.com
*/



<meta name="viewport" content="width=device-width, initial-scale=1.0">





/* This is for the scroll button at the bottom of each page */

html {
  scroll-behavior: smooth;
 }
 
 
 
.scroll-button {
	background-color: grey;
	color: white;
	text-align: center;
	padding: 8px 15px;
	margin: 4px 2px;
	opacity: 0.6;
	transition: 0.3s;
	text-decoration: none;

}

.scroll-button:hover {
	opacity: 1;
}





h1 {
	text-align: center;
}


h2 {
	font-size: 21px;
}

/* These are all of the styling tags for the navbar */



@media(max-width:600px){
	.hamburger{
		display:block;
		cursor: pointer;
	}
	
	.menu-top{
		position: fixed;
		left: -100%;
		gap: 0;
		flex-direction: column;
		background-color: black;
		text-align: center;
		transition: 0.3s;
	}
	
	.menu-item{
		margin: 16px;
	}


	.menu .menu-top.active{ 
		left: 0;
	}
	
}










/* @media(min-width: 600px){ */
	.menu {
		height: 50px;
		background-color: black;
		font-family: Arial;
		overflow: hidden;
	/*   	display: flex; */
	}

	.menu .menu-top{
		padding-left: 20px;
		padding-right: 20px;
		display: flex;
		justify-content: space-around;
		list-style-type: none; 
	}
	
	.menu .menu-item{
		display: inline-block;
		height: 100%;
		width: 10%;
		transition: .2s linear;
	}
	
	.menu .menu-item a {
		color: white;
		font-size: 17px;
		text-decoration: none;
	}
	
	.menu .menu-item a:hover {
		color: #dd5771;
		font-weight: 700;
		transform: translateY(-3px); 
	}
	
	.menu .menu-item:hover {
		transform: translateY(-3px); 
	}


	@media(max-width: 600%){
		.hamburger{
			display: none;
			cursor: pointer;
		}
	}
	
	.bar{
		display: block;
		width: 25px;
		height: 3px;
		margin: 5px auto;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		background-color: white;
		color: white;
	}
	

/* } */






.dropdown {
	float: left;
	overflow: hidden;
}


.dropdown .dropbutton{
	font-size: 18px;
	border: none;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	color: white;
	margin: 0;

}

#nav a:hover, .dropdown:hover .dropbutton {
  background-color: blue;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}









/* 

These are grids used for the page layout 

https://stackoverflow.com/questions/47614008/can-i-have-a-varying-number-of-columns-per-row-in-a-css-grid

https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_grid_layout/Basic_concepts_of_grid_layout
*/

:root {
	box-sizing: border-box;
}

*,
::before
::after{
	box-sizing: inherit;
}




.grid-container {
	display: grid;
	row-gap: 10px;
}


@media screen and (min-width: 600px){

	.grid-container{
		grid-template-columns: repeat(6, 1fr);
		grid-template-areas:
			"a a a b b b"
			"c c d d e e"
	}

	.item-a{
		/* 
		grid-column-start: 1;
		grid-column-end: 2;
 		*/
 		grid-area: a;
	}
	
	.item-b{
		grid-area: b;
	}
	
	.item-c{
		grid-area: c;
	}
	
	.item-d{
		grid-area: d;
	}
	
	.item-e{
		grid-area: e;
	}
	
}


/* 
.grid.half {
	width: 50%;
}
 */





.padding {
	padding-left: 10px;
	padding-right:10px;
}

.benefit-box{
	padding-top: 10px;
	padding-bottom: 10px;
}


.centered {
	text-align: center;
}




/* This is used for the heading of each lab task to centre it and colour the background */
.title {
	text-align: center;
	padding: 22px;
	background-color: #f6efef;
}





/* ------------- Image slideshow ------------- */ 

.slides {
	position: relative;
	margin: auto;
}

.slide-image {
	display: none;

}


.back, .next {
	cursor: pointer;
	position: absolute;
	top: 48%;
	width: auto;
	margin-top: -23px;
	padding: 17px;
	color: black;
	font-weight: bold;
	font-size: 19px;
	transition: 0.4s ease;
	border-radius: 0 5px 5px 0;
	user-select: none;
}



.next {
	right: 0;
}

.back:hover, .next:hover {
	background-color: grey;
}

.slide-title {
	font-size: 20px;
	padding: 10px 14px;
	text-align: center;
}

.slide-info {
	font-size: 15px;
	padding: 10px 14px;
	position: absolute;
	text-align: center;
}



.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background: linear-gradient(92.18deg, #a049e9 -25.78%, #6643db 123.02%);
  opacity: 0.3;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background: linear-gradient(92.18deg, #a049e9 -25.78%, #6643db 123.02%);
  opacity: 1;
}



.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.4s;
	animation-name: fade;
	animation-duration: 1.4s;

}


@-webkit-keyframes fade {
	from {opacity: .5}
	to {opacity: 2}
}

@keyframes fade{
	from {opacity: .5}
	to {opacity: 2}
}


/* ------------- Game Library ------------- */ 


.game-library {
	display: flex;
	justify-content: space-between;
}

.game-card {
	background-color: pink;
	flex-basis: calc(33.333% - 20px);
	/* float: left; */

}


.game-library img {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}


.game-library p{
	padding: 6px;
}

.game-library h3{
	padding: 6px;
}

/* 
.library-image {
	border: 4px solid black;
}
 */





/* ------------- Dropdown text ------------- */ 

.slide-info {
	display: none;
}


.slide-image:hover .slide-info{
	display: block;
}


















